@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-image: url("https://www.downloadclipart.net/large/pokeball-png-pic.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 30rem 30rem;
  background-attachment: fixed;
}

button {
  background-color: indianred;
  /* vertical | horizontal */
  padding: 0.25rem 0.5rem;
  border-color: black;
  border-radius: 0.3rem;
  /* border-width: 0.1rem; */
  align-self: flex-start;
}

button:hover {
  background-color: darkgrey;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.app {
  width: 100%;
  height: 100%;
}

.navitem {
  margin-right: 2rem;
}

.logo {
  margin-right: 60rem;
}

.navbutton {
  background-color: indianred;
  /* vertical | horizontal */
  padding: 0.5rem 0.5rem;
  border-radius: 0rem;
  align-self: unset;
}

.navbar {
  background-color: brown;
  justify-content: end;
  align-items: center;
  color:gainsboro;
  font-size: 1.2rem;
}

.quiz {
  width: 100%;
  height: 100%;
}

.question {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  background-color: rgba(169, 169, 169, 0.95);
  border-radius: 1rem;
  font-size: 1.2rem;
}

.prompt {
  font-size: 1.5rem;
  font-weight: bold;
}

.radio-label {
  padding-left: 0.5rem;
}

.submit-quiz-button {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.error {
  color: indianred;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5rem 1rem;
  background-color: rgba(169, 169, 169, 0.95);
  border-radius: 1rem;
  font-size: 1.2rem;
  border-color: indianred;
  border-width: 0.1rem;
}


.pokemon-sprite {
  image-rendering: pixelated;
  width:20rem;
}

.trainer-sprite {
  image-rendering: pixelated;
  height:20rem;
}

.homepage {
  justify-content: space-evenly;
}

.centered-column {
  align-items: center;
}

.self-center {
  align-self: center;
}

.results-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.big-and-important {
  font-size: 1.6rem;
  font-weight: bold;
}

.take-quiz-button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 3rem;
  margin-top: 1rem;
}

.take-quiz-margin {
  margin-top: 8rem;
}

.previous-results {
  margin-top: 2rem;
}

.sprites-container {
  align-items: center;
}


